@model IEnumerable<Category>

@{
    ViewData["Title"] = $"Cá Giống Đại Dương";
    ViewData["description"] = "Cá giống Đại Dương chuyên bán các loại cá giống chất lượng , cá nước mặn, nước lợ , có nguồn gốc rõ ràng giá cả hợp lý cho khách hàng. Chuyên tư vấn hổ trợ người nuôi thành công đạt lợi nhuận cao";
    
}

@section Links{

    <link href="~/css/search-autocomplete.css" rel="stylesheet" />
    <link href="~/css/hotline.css" rel="stylesheet" />
    <link href="~/css/card-carousel-slider.css" rel="stylesheet" />
    
    
}


@foreach (var category in Model)
{
    @if (category.Products?.Count() > 0)
    {
        <div class="title-category mt-3">
            <h6><i class="bi bi-bookmark-plus"></i> @category.Name</h6>
        </div>

        @await Component.InvokeAsync("SliderBoxOwlCarouselProduct" ,category.Products)
    }
    
}



@section OffcanvaGroups{

    @await Component.InvokeAsync("OffcanvaGroups", null)
}

<partial name="_HotLinePartial" />

@section Scripts{
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="~/js/search-index.js"></script>
    
}


