<aside class="widget block_widget">

    <div class="icon-box d-flex bd-highlight">
        <div class="icon-box-img" style="width: 50px">
            <div class="icon">
                <div class="icon-inner">
                    <img src="~/icon/icon-seo-1.webp" />
                </div>
            </div>
        </div>
        <div class="icon-box-text last-reset">

            <h6><strong>GIÁ SỈ &amp; LẺ TỐT NHẤT</strong></h6>
            <p>Mua càng nhiều càng giảm</p>

        </div>
    </div>

    <div class="icon-box d-flex bd-highlight">
        <div class="icon-box-img" style="width: 50px">
            <div class="icon">
                <div class="icon-inner">
                    <img src="~/icon/icon-seo-2.webp" />
                </div>
            </div>
        </div>
        <div class="icon-box-text last-reset">

            <h6><strong>VẬN CHUYỄN TẬN NƠI</strong></h6>
            <p>Bất kể số lượng cá mua</p>

        </div>
    </div>

    <div class="icon-box d-flex bd-highlight">
        <div class="icon-box-img" style="width: 50px">
            <div class="icon">
                <div class="icon-inner">
                    <img src="~/icon/icon-seo-3.webp" />
                </div>
            </div>
        </div>
        <div class="icon-box-text last-reset">

            <h6><strong>CON GIỐNG CHẤT LƯỢNG</strong></h6>
            <p>Khỏe, đều, không xây sát</p>

        </div>
    </div>
    <div class="icon-box d-flex bd-highlight">
        <div class="icon-box-img" style="width: 50px">
            <div class="icon">
                <div class="icon-inner">
                    <img src="~/icon/icon-seo-4.webp" />
                </div>
            </div>
        </div>
        <div class="icon-box-text last-reset">

            <h6><strong>BAO HAO HỤT CÁ</strong></h6>
            <p>Đảm bảo mọi rủi ro</p>

        </div>
    </div>
</aside>
