<div class="hotline ">
    <div id="phonering-alo-phoneIcon" class="phonering-alo-phone phonering-alo-green phonering-alo-show">
        <span class="number"><a href="tel:0903032767"><i class="fas fa-caret-left"></i>090.303.2767</a></span>
        <div class="phonering-alo-ph-circle"></div>
        <div class="phonering-alo-ph-circle-fill"></div>
        <div class="phonering-alo-ph-img-circle ">
            <a class="pps-btn-img" href="tel:0903032767"></a>
        </div>
    </div>
</div>

<div class="zalo-container right" style="bottom:20px;">
    <a id="zalo-btn" href="https://zalo.me/0903032767" target="_blank" rel="noopener noreferrer nofollow">
        <div class="zalo-ico zalo-has-notify">
            <div class="zalo-ico-main">

                <img src="~/icon/zalo.png" alt="Contact Me on Zalo" />
            </div>
            <em></em>
        </div>
    </a>
</div>

