@model Product

<div class="card">
    <div class="top-card">
        <a asp-area="" asp-action="detail" asp-route-slug="@Model.Slug"><img src="@Model.ImageURL" alt=""></a>
    </div>
    <div class="bottom-card">
        <div class="top-btn">@Model.Category?.Name</div>
        <p class="bottom-first">
             @Model.Title
        </p>
        @*  <h3 class="price">$889,000</h3>
        <p class="information">2,500 SqFt <span>&#183;</span> 3 Beds <span>&#183;</span> 3 Baths</p>
        <a href="#" class="address">
        San Diego Ave <br>
        San Fransisco, CA 29244
        </a>*@
    </div>
</div>